<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Not-Found Page</title>
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                    <img src="..//..//assets/404.jpg" class="figure-img img-fluid rounded"/>
              </div>
          </div>
      </div>
  </body>
</html>
