<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <div class="header">
        <h3>All Blogs</h3>
    </div>
    <div class="container-fluid" *ngIf="allBlogs.length > 0">
      <div class="row">
        <div *ngFor="let blog of allBlogs" class="col-md-4">
          <div class="card card-margin">
            <div class="card-header">{{blog.title | uppercase}}</div>
            <div class="card-body">{{blog.description}}</div>
            <div class="card-footer">
                Posted By: {{blog.author}} on {{blog.lastModified | date}} <br><br>
                <a [routerLink]="['/blog/view',blog.blogId]" class="btn btn-secondary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
